$color-primary: (
  50: #e8f6f6,
  100: #c5e9e8,
  200: #9fdad9,
  300: #79cbc9,
  400: #5cc0be,
  500: #3fb5b2,
  600: #39aeab,
  700: #31a5a2,
  800: #299d99,
  900: #1b8d8a,
  A100: #c6fffd,
  A200: #93fffb,
  A400: #60fff9,
  A700: #47fff8,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);

$color-secondary: (
  50: #fffaed,
  100: #fff4d1,
  200: #ffecb3,
  300: #ffe494,
  400: #ffdf7d,
  500: #ffd966,
  600: #ffd55e,
  700: #ffcf53,
  800: #ffca49,
  900: #ffc038,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e1,
  A700: #ffedc8,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);
