<header class="docs-header-background">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <img routerLink="home" src="../../assets/images/placeholder.png" height="120">
      <h1 routerLink="home" class="mat-h1">
        <h1>[Name]</h1>
      </h1>
      <h2 class="homequote"> [Description] </h2>
    </div>
  </div>
  <div class="docs-header-start">

    <a class="docs-button" mat-raised-button>
      <span class="mat-button-wrapper">
        <mat-icon>touch_app</mat-icon> CTA </span>
      <div class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </a>

  </div>
</header>

<mat-tab-group>
  <mat-tab label="One">
    <h1>Some tab content</h1>
    <p *ngFor="let content of fillerContent">{{content}}</p>
  </mat-tab>
  <mat-tab label="Two">
    <h1>Some more tab content</h1>
    <mat-list>
      <div *ngFor="let content of fillerContent index as i;">
        <mat-list-item>{{content | slice:i:50+i}}
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-tab>
</mat-tab-group>
